// @import 'cropperjs/dist/cropper.css';

$base-color: #ff9933;
$base-lite:#FFD3CC;
$back-white:#F6F3E4;
$background:linear-gradient(#5B759F,#1C254C);
$ORbackground: linear-gradient($base-lite,$base-color);